[Unit]
Description=Send push notifications to your phone or desktop via PUT/POST
Documentation=https://docs.ntfy.sh/
After=caddy.service

[Container]
AutoUpdate=registry
ContainerName=ntfy
EnvironmentFile=ntfy.env
Exec=serve
Image=docker.io/binwiederhier/ntfy:latest
LogDriver=journald
Network=ntfy.network
RunInit=true
Timezone=local
Volume=ntfy-cache:/var/cache/ntfy
Volume=ntfy-config:/etc/ntfy
Volume=ntfy-lib:/var/lib/ntfy

[Service]
Restart=always

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
