[Unit]
Description=Podman daemon for Forgejo runner jobs
Documentation=https://docs.podman.io/en/latest/markdown/podman-system-service.1.html

[Container]
AddDevice=/dev/fuse
AddDevice=/dev/net/tun
AutoUpdate=registry
ContainerName=forgejo-runner-podman
Exec=podman system service --time=0 tcp://0.0.0.0:2375
Image=quay.io/podman/stable:latest
LogDriver=journald
Network=forgejo-runner.network
Network=forgejo.network
SecurityLabelDisable=true
Timezone=local
User=podman

[Service]
Restart=always

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
